@font-face {
  font-family: 'Koodak';
  src: url('fonts/Koodak.otf?#'),  /* IE6–8 */
       url('fonts/Koodak.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: 'RoyaBold';
  src: url('fonts/RoyaBold.otf?#'),  /* IE6–8 */
       url('fonts/RoyaBold.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: 'Yekan';
  src: url('fonts/Yekan.otf?#'),  /* IE6–8 */
       url('fonts/Yekan.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: 'Mehr';
  src: url('fonts/Mehr.otf?#'),  /* IE6–8 */
       url('fonts/Mehr.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: 'Zar';
  src: url('fonts/Zar.otf?#'),  /* IE6–8 */
       url('fonts/Zar.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: 'Mitra';
  src: url('fonts/Mitra.otf?#'),  /* IE6–8 */
       url('fonts/Mitra.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: 'Roya';
  src: url('fonts/Roya.otf?#'),  /* IE6–8 */
       url('fonts/Roya.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
	font-family: 'MitraRegular';
	src:    url('fonts/MitraWeb-Regular.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
			url('fonts/MitraWeb-Regular.ttf') format('truetype');  /* Saf3?5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
	font-family: 'NassimRegular';
	src: url('fonts/bbc-nassim-regular.eot?#') format('eot'),  /* IE6?8 */
		url('fonts/bbc-nassim-regular.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		url('fonts/bbc-nassim-regular.ttf') format('truetype');  /* Saf3?5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
	font-family: 'NassimBold';
	src: url('fonts/bbc-nassim-bold.eot?#') format('eot'),  /* IE6?8 */
		url('fonts/bbc-nassim-bold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		url('fonts/bbc-nassim-bold.ttf') format('truetype');  /* Saf3?5, Chrome4+, FF3.5, Opera 10+ */
}


.rendered_html h1 {
    margin: 0;
    padding: 0;
	direction : rtl;
	font-family:Mitra !important;
}
.rendered_html h2 {
    margin: 0;
    padding: 0;
	direction : rtl;
	font-family:Mitra !important;
}
.rendered_html h3 {
    margin: 0;
    padding: 0;
	direction : rtl;
	font-family:Mitra !important;
}

 .text_cell,.rendered_html ,.rendered_html p {
   direction:rtl !important;
   font-family:MitraRegular !important;
   font-size:14pt;
   line-height:1.5;
   margin-left:20px;
   text-align:right !important;
   
   
}

 .text_cell .prompt{
	 min-width:6ex !important;
	 
	 
 }
blockquote {
	
	border-left: 0px ;
	border-right : 5px solid #eeeeee !important;
}
